version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: todo-postgres

    environment:
      POSTGRES_DB: todoDb
      POSTGRES_USER: todoUser
      POSTGRES_PASSWORD: todoPass

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql

    healthcheck:
      test: [ "CMD-SHELL", "pg-isready -U todoUser -d todoDb" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
